apiVersion: batch/v1
kind: Job
metadata:
  name: {{JOB_NAME}}
spec:
  template:
    spec:
      containers:
        - name: builder
          image: bash:latest
          command: ["sh", "-c", "echo Project: $PROJECT_NAME from $GCP_BUCKET"]
          envFrom:
            - configMapRef:
                name: project-config 
      restartPolicy: Never
  backoffLimit: 2
